@import "../../base/style/variables";

// 会员卡设置-编辑
.add-coupon-container {
  margin-bottom: 44px;
  .mobile-set{
    .ant-form-item-label{
      text-align: left;
      padding-left: 10px !important;
    }
    .ant-form-item-control-wrapper{
      padding-left: 10px !important;
    }
    .row-detail-v-left{
      .key-line-left{
        width:30%;
      }
    }
  }
  .inline-feedback-style{
    .has-success.has-feedback .ant-form-item-children-icon{
      position: relative;
      left: -45px;
    }
    .has-error.has-feedback .ant-form-item-children-icon {
      position: relative;
      left: -45px;
    }
  }
  .inline-feedback-style-explain{
    .has-success.has-feedback .ant-form-item-children-icon{
      position: relative;
      left: -64px;
    }
    .has-error.has-feedback .ant-form-item-children-icon {
      position: relative;
      left: -64px;
    }
  }
  .explain-style{
    .has-success.has-feedback .ant-form-item-children-icon{
      position: relative;
      left: -73px;
    }
    .has-error.has-feedback .ant-form-item-children-icon {
      position: relative;
      left: -73px;
    }
  }

  .explain-style-99{
    .has-success.has-feedback .ant-form-item-children-icon{
      position: relative;
      left: -81px !important;
    }
    .has-error.has-feedback .ant-form-item-children-icon {
      position: relative;
      left: -81px !important;
    }
  }

  .mbr-list-title{
    font-size: @title-font-size !important;
    font-weight: @title-font-weight;
    color: @title-font-color;
    margin-bottom:0;
  }
  .ant-card-head{
    padding: 0 10px;
    text-align: left;
  }
  .ant-card-head-title {
    font-size: @title-font-size !important;
    font-weight: @title-font-weight;
    color: @title-font-color;
  }
  .content-header-page{
    background: #fff;
  }
  .ant-row{
    //margin-left:0 !important;
    //margin-right:0 !important;
  }
  .ant-card-body{
    padding:0;
  }
  .ant-col-md-8{
    padding-left:0 !important;
    padding-right: 20px !important;
  }
  .ant-col-md-16{
    padding-left:0 !important;
    padding-right:0 !important;
  }

  .row-spacing{
    margin-bottom:0;
    &:first-child{
    }
    .row-col-container{
      .expired-time-use-content{
        .ant-radio-wrapper{
          span{
            padding-right:0
          }
          span.ant-radio + *{
            padding-right:0
          }
        }
      }
      .label-left{
        text-align: right;
      }
      .edit-right{
        text-align: left;
        .show-img{
          width:104px;
          height:104px;
        }
        .mbr-card-gift-score{
          //width: 30%;
          //width:100px;
        }
        .score-span{
          padding-left: 8px;
        }
      }
    }
  }

  .mbr-btn-container{
    height: 59px;
    line-height: 59px;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-left: 200px;
    .btn-fixed{
      margin-left: -200px;
    }
  }
  .mbr-btn-container-collapse{
    margin-left:80px;
    .btn-fixed{
      margin-left: -80px;
    }
  }

  .ant-form-item-label{
    text-align: right;
    margin-right:20px;
    label{
      font-size:@text-font-size !important;
      color:@text-font-color !important;
      .optional-style{
        color:@text-font-color-secondary !important;
      }
    }

  }
  .ant-form-item-control-wrapper{
    .ant-form-item-control{
      .field-width-limit{
        width: 45%;
        //margin-right: 8px;
      }
      .field-tip-align{
        vertical-align: top;
        line-height: normal;
      }
    }
    span{
      font-size:@text-font-size !important;
      color:@text-font-color-secondary;
    }
    button{
      span{
        font-size: @text-font-size !important;
        color: #fff !important;
        background: @primary-color !important;
      }
    }
  }
  .ant-form-item-control-wrapper{
    text-align: left;
  }
  .last-des-span{
    padding-left: 8px;
  }

  .inline-input-item{
    //width: 30%;
    width: 90px;
    margin-bottom: 0;
    display: inline-block;
    line-height: 39.9999px;
    vertical-align: middle;
    margin-left: 10px;
    .ant-form-item-control-wrapper{
      width:100%;
    }

  }
  .inline-input-item-date{
    //width: 50%;
    width:226px;
  }
  .ant-checkbox-group{
    line-height: 39.9999px;
  }
  .upload-img-container{
    margin-bottom:0;
    .ant-upload-select-picture-card{
      margin-bottom:0;
      .ant-upload{
        img{
          width:104px;
          height:104px;
        }
      }
    }
  }
  .upload-img-container-logo{
    .ant-upload-select-picture-card{
      margin-bottom:0;
      .ant-upload{
        img{
          width:104px;
          height:104px;
        }
      }
    }
  }

  .ant-input{
    font-size:@text-font-size !important;
    color:@text-font-color-secondary;
  }

  .mobile-add-style{
    margin-left: 0px;
    .btn-fixed{
      margin-left: 0px;
    }
    .btn-conf{
      margin-left:10px;
    }
  }

}

.mobile-add-coupon-style{
  .inline-input-item{
    margin-left:0;
  }
  .inline-input-item-date{
    width: 65%;
  }
  .ant-form-item-control-wrapper {
    .ant-form-item-control {
      .field-width-limit {
        width: 58%;
      }
    }
  }
}

.modal-add-coupon{
  .ant-form-item-control-wrapper {
    .ant-form-item-control {
      .field-width-limit {
        width: 66%;
      }
    }
  }
}

.user-list ul::-webkit-scrollbar{
  width:0px;
  opacity:0;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 767px) {
  .add-coupon-container{
    .ant-card-body{
      padding-left:10px;
    }
    .ant-form-item{

    }
    .ant-form-item-label{
      text-align: left;
    }
  }
}

